@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
body {
    background-color: #ef5455;
}

.container {
    margin-top: 58px ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.game-board {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    order: -1;

}
.first {
    flex-grow: 1;
    display: flex;
}

#cell-1 {
    flex-direction: row;
    flex-grow: 1;
    border: 4px solid #7e7e7e;
    border-top: 0;
    border-left: 0;

}
#cell-2 {
    flex-direction: row;
    flex-grow: 1;
    border: 4px solid #7E7E7E;
    border-top: 0;

}
#cell-3 {
    flex-direction: row;
    flex-grow: 1;
    border: 4px solid #7E7E7E;
    border-top: 0;
    border-right: 0;

}

.second {
    flex-grow: 1;
    display: flex;
}

#cell-4 {
    flex-direction: row;
    flex-grow: 1;
    border: 4px solid #7E7E7E;
    border-left: 0;


}
#cell-5 {
    flex-direction: row;
    flex-grow: 1;
    border: 4px solid #7E7E7E;
}
#cell-6 {
    flex-direction: row;
    flex-grow: 1;
    border: 4px solid #7E7E7E;
    border-right: 0;
}

.third {
    flex-grow: 1;
    display: flex;
}

#cell-7 {
    flex-direction: row;
    flex-grow: 1;
    border: 4px solid #7E7E7E;
    border-bottom: 0;
    border-left: 0;
}

#cell-8 {
    flex-direction: row;
    flex-grow: 1;
    border: 4px solid #7E7E7E;
    border-bottom: 0;
}

#cell-9 {
    flex-direction: row;
    flex-grow: 1;
    border: 4px solid #7E7E7E;
    border-right: 0;
    border-bottom: 0;
}

h3 {
    margin: auto;
    padding: 15px 26px;
    font-size: 110px;
    position: fixed;
    color: #2b3252;
}

h2 {
    color: #fad744;
    font-size: 138px;
    margin: 0;
    padding-top: 19px;
    align-self: center;
    justify-content: center;
}

.lower {
    display: flex;
    background-color: #fad744;
    margin: 44px -8px;
    justify-content: center;
}

.lower a {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 33px;
    color: #2b3252;
    cursor: pointer;
}

.intro section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;

}

.intro section h1 {
    margin: 0;
    font-size: 80px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #2b3252;
}

.intro section img {
    margin-top: 0;
    width: 165px;
    height: 140px;
}

.intro section span {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 80px;
    color: #fad744;
}

#x {
    width: 100px;
}

.info {
    height: 400px;
    width: 239px;
    background-color: #2b3252;
    color: #fad744;
    border-radius: 12px;
}

.info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.winner {
    color: #fad744;

}

p {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 36px;
    color: #fad744;
}

.pc , .two-players {
    cursor: pointer;
    border: 3px solid #2b3252;
    margin: 10px 0;
}

@media only screen and (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .container {
        /*height: 500px;*/
        padding: 20px;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*justify-content: space-evenly;*/
        height: 100vh;
    }

    .info {
        width: 100%;
        height: 100px;
        background-color: #2b3252;
        color: #fad744;
        border-radius: 12px;
        margin: 0px auto 40px auto;

    }

    .info div {
        padding: 13px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .info p {
        font-size: 15px;
    }
    .lower {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }
    }


